@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.inicio {
    position: relative;
    margin-top: 7rem;
    padding: 0;
    height:calc(100vh - 7rem);
    width: 100%;
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../iniciofotos/5CF664F2-C884-43C4-888D-EC020437EDD0.jpeg');
    animation: banner 25s infinite linear;
}
.contenedoInicio {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .85);
    display: flex;
    align-items: center;
    
}

.cuerpoinicio {
    position: absolute;
    right: 40px;
    width: 600px;
}
.cuerpoinicio h1 {
    color: antiquewhite;
    margin-bottom: 1rem;
    font-size: 40px;
   /* text-align: center;*/
}
.laaccion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.laaccion button {
    padding: 2rem 3rem ;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 750;
    color: #343D5B;
}
.laaccion span {
    font-weight: 900;
}

@keyframes banner {
    0%{
        background-image: url('../iniciofotos/5CF664F2-C884-43C4-888D-EC020437EDD0.jpeg');
          
    }
    33%{
        background-image: url('../iniciofotos/3A2664E0-F77B-47A5-86FC-EBB3920CC583.jpeg');  
    }
    66%{
        background-image: url('../iniciofotos/E082E496-57FC-41C0-835A-A09D81C14F02.jpeg');  
    }
    100%{
        background-image: url('../iniciofotos/FB001B17-DBBC-459D-BE7A-2537EC9A8DEA.jpeg');  
    }

}

.contenedoInicio p {
    max-width: 80rem;
    color: #fff;
    font-size: 17px;
}

.nombrepagina {
    text-transform: capitalize;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(40%);
    animation: transicionNombre 1.5s forwards ease; /* forwards para mantener el estado final */
    visibility: hidden; /* Ocultar el elemento inicialmente */
    margin-top: 50px;
}
.cuerpopaginaina h2 {
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #96A7A6;
    margin-bottom: 20px;
}
.cuerpopaginaina {
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    background: #101728;
    z-index: 1;
    padding: 45px;
}
@keyframes transicionNombre {
    0% {
      transform: translateX(100%);
    }
    
    100% {
      transform: translateX(0%);
      visibility: visible;
    }
  }
  

  @keyframes aumentarFontSize {
    0% {
        color:rgb(68, 70, 55)
        ;/* Tamaño inicial del font */
    }
    20%{
        color:rgb(125, 125, 83);
    }
    50%{
         color:rgb(100, 103, 65)
        ;
    }
    80%{
        color:rgb(134, 129, 33)
        ;
    }
    100% {
        color: #eff304; /* Tamaño final del font */
    }
  }
  
  .estrella {
    position: relative;
    color:rgb(68, 70, 55);
    font-size: 150px; /* Tamaño inicial del font */
    top: -10px;
    margin-right: 2rem;
    animation-name: aumentarFontSize ; /* Nombre de la animación */
    animation-duration: 2s ; /* Duración de la animación */
    animation-delay: 1.5s ; /* Comienza después de 3 segundos */
    animation-fill-mode: forwards; /* Mantiene el estado final después de la animación */
  }
  
  
  

.nombrepagina h1 {
  margin-right: 2rem;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
}
/*
.bara{
    position: absolute;
    background: #fff;
    width: 3px;
    height: 80vh;
    left: 50%;
    z-index:2 ;
    
}*/

.contacto{
    margin-top: 30px;
    padding: 2rem 3rem;
    border-radius: 3rem;
    font-size: 15px;
    font-weight: 600;
    background: blueviolet;

}
/*Beneficios*/
.beneficios {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*cuerpo inicio*/
.cuerpoInicio {
    padding: 0;
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



#BiTrendingUp {
    margin-left: 0.5rem;
    color: #8A2BE2;
}
/**/

.iconos {
    font-size: 50px;
    margin: 1rem;
    color: #101728;
}

.iconos.protegida{
    color: #1a7134;
}