:root {
    --color1:#0f1819;
    --color2: #2c3e40 ;
    --color3:#485a5d;
    --color4:#f5f6f7;
    --color5:#d2d3d4;
    --color7:#101728;
    --color9:#663399;
    --color10: #9966cc;
    --color11: #cc99ff;
    --color12: #ffffff;
    --color13:  #333333;
 
}

.pie2 {
    position: relative;
    height: 300px;
    width: 100%;
    background:#222D3A;
    
}
.empresalogo img{
    margin: 20px ;
    height: 80px;
}